<div class="w-full max-w-6xl mx-auto mt-16 bg-white p-10 rounded-2xl shadow-lg flex flex-col md:flex-row items-center gap-8">
  
  <!-- Illustration -->
  <div class="md:w-1/2 flex justify-center">
    <%= image_tag "signup-illus.png", alt: "Bug Management Illustration",
    class: "w-[400px] h-[500px] md:w-[500px] md:h-[600px] object-contain" %>
  </div>

  <!-- Signup Form -->
  <div class="md:w-1/2 w-full">
    <h1 class="text-3xl font-bold mb-6 text-purple-700 text-center md:text-left">Signup / Add User</h1>
    <%= 
    render "form", user: @user, submit_label: "Create User", readonly: false, form_class: "bg-white p-12 rounded-2xl shadow-lg w-full max-w-3xl mx-auto", roles: User.roles.keys, show_login_link: true %>
  </div>

</div>
