<%= render partial: "shared/import_results", locals: { result: @result } %>
<div class="mb-8 mt-2 flex justify-end">
  <%= link_to "Import More Bugs?",
      import_bugs_page_path,
      class: "bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-lg shadow transition duration-200 font-semibold" %>
</div>